
.posts-grid .nu__grid .grid-item.page {
	> a {
		border: none 0;
		.post-title span {
			@extend %transition;
		}
		figure {
			overflow: hidden;
			img {
				transform: scale(1);
				@extend %transition;
			}
		}
		&:hover,
		&:focus,
		&:active {
			border: none 0;

			img {
				transform: scale(1.2);
			}
		}
	}
}