:root {
  --section-margin: 170px;
  --section-margin-mob: 90px;
  --section-margin-xm: 60px;

  --wp--preset--color-red: #a6192e;
  --wp--preset--color-red-hover: #76232f;
  --wp--preset--color-red2: #c8102e;
  --wp--preset--color-gold: #A4804A;
  --nu-menu-icon: #c00;
}