# Ignore everything
/*

# Allow wp-content
!/wp-content/

# Inside wp-content, ignore everything by default
/wp-content/*

# Allow plugins and themes only
!/wp-content/plugins/
!/wp-content/themes/

# Ignore common plugin/theme cruft
wp-content/plugins/*/node_modules/
wp-content/plugins/*/.git/
wp-content/plugins/*/.DS_Store
wp-content/themes/*/node_modules/
wp-content/themes/*/.git/
wp-content/themes/*/.DS_Store

# Optional: allow mu-plugins if needed
# !/wp-content/mu-plugins/
