//
//
:root {
	--nu--utilitynav--height: 32px;
	--nu--adminbar--height: 32px;
	--nu--siteheader--height: 64px;
	--nu--mainel--offset: var(--nu--siteheader--height);
	--nu--full--screen--height: calc(100vh - var(--nu--siteheader--height));
}

//
//
//
:where(header.header ~ main) {
	margin-top: var(--nu--mainel--offset);
}

//
//
//
:where(header.header) {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	//
	color: var(--wp--preset--color--dark);
	border-bottom: 1px solid var(--wp--preset--color--neutral-3);
	background-color: var(--wp--preset--color--white);
}

//
header.header {
	> .itsglobalheader--container,
	> .utilitynav {
		overflow: hidden;
		transition: all 0.4s $bezier;
	}
	// @include media("<medium") {
	@media screen and (max-width: 1100px) {
		flex-flow: column nowrap;
	}
}
:is(body.is-using-minimal-header-view) {
	//
	header.header {
		> .itsglobalheader--container,
		> .utilitynav {
			height: 0;
		}
	}
	#nu__alerts {
		right: -9999px;
		opacity: 0;
	}
}
//
//
//
:where(body.admin-bar) {
	header.header {
		top: 32px;
	}
	// @include media("<medium") {
	@media screen and (max-width: 1100px) {
		header.header {
			top: 0px;
			flex-flow: column nowrap;
		}
		#wpadminbar {
			display: none !important;
		}
	}
}

//
//
//
:where(header.header > .container) {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	height: var(--nu--siteheader--height);
	padding: 0 var(--wp--custom--spacing--outer);

	// @include media("<=medium") {
	@media screen and (max-width: 1100px) {
		> .container {
			height: var(--nu--siteheader--height);
		}
		> .utilitynav {
			height: var(--nu--utilitynav--height);
		}
		a.logo.logo--image svg {
			max-width: 180px;
		}
	}
}

// ? all styles for the utilitynav
@import "./header/utilitynav";

// ? all styles for the searchform
@import "./header/search";

// ? all styling for the navlinks
@import "./header/navlinks";

// ? all darkmode related adjustments
@import "./header/dark-enabled";
