#main {
  .stylized-group {
    min-width: none;
    padding: 0;
    margin: 0;
    background: none;
    background-image: linear-gradient(180deg,#020202 69%,#ffffff 69%)!important;

    @media screen and (max-width: 980px) {
      background: #000!important;
    }


    &__inner {
      @media screen and (max-width: 640px) {
        width: 90%;
      }
    }

    &__gallery {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 0;

      @media screen and (max-width: 980px) {
        display: none;
      }

      > figure {
        width: 33.33%;
        height: 30vw;
      }
    }
  }

}