
h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 70px !important;
  line-height: 75px;
  color: #2d2926;
  @media only screen and (max-width:1300px) {
    font-size:50px !important;
    line-height:55px !important;
  }
  @media only screen and (max-width:980px) {
    font-size: 45px !important;
    line-height: 50px !important;
  }
}

h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 45px !important;
  line-height: 55px;
  @media only screen and (max-width:980px) {
    font-size: 35px !important;
    line-height: 45px !important;
  }
}

h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px !important;
  line-height: 50px;
  @media only screen and (max-width:1400px) {
    font-size:2.5vw !important;
  }
  @media only screen and (max-width:980px) {
    font-size: 30px !important;
    line-height: 35px !important;
  }
}

h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px !important;
  line-height: 32px;
}

// There is a rule forcing h6s in et_pb elements to uppercase. Not ALL such elements should be uppercase.
h6 {
  text-transform: none !important;
  line-height:1.7em !important;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 26px !important;
}