//
//
//

.patterns--features--row-of-images-as-icons {
	> * {
		&:not(:first-child) {
			margin-top: var(--wp--custom--spacing--outer);
		}
	}
	&.has-white-color {
		.wp-block-image img {
			filter: invert(1);
			background-color: var(--wp--preset--color--white);
			max-width: 64px;
		}
	}
}
