//
//
//
//
//
//
.patterns--features--grid-of-statements {
	.wp-block-columns {
		gap: 0;
		margin: 0;
		.wp-block-column {
			gap: 0;
			margin: 0;
			border: 1px solid transparent;
			&:not(:first-child) {
				margin-left: 0;
			}
		}
	}
}
